.Main-section {
    /* height: 800px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -128px;
    margin-bottom: 50px;
}

.Main-section-coin-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coins {
    width: 30px;

}

.container-btns {
    width: 80%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
}

.cb-main-size {
    width: 43%;
    font-size: 16px;
    justify-content: flex-start;
}

.btn {
    padding: 15px 10px;
}

.btn-main-size {
    width: 50%;
    padding: 20px 15px;
    text-align: center;
    cursor: pointer;
}

.clicked {
    padding-right: 15px;
    border-top: 4px solid #10edc5;
}

.notclicked {
    border-top: 4px solid #e2e6e9;
    color: #84859c;
    background-color: #e2e6e9;
}

.hide {
    display: none;
}

.mainpart {
    width: 85%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 60px;
    border-top: 4px solid #10edc5;
}

.rightside-mp {
    padding-right: 80px;
    width: 57%;
}

.leftside-mp {
    /* padding-right: 40px; */
    width: 42%;
}

.maintite-rightside-mp {
    font-size: 25px;
    margin-bottom: 10px;
}

.title-rightside-mp {
    font-size: 16px;
    margin-bottom: 20px;
}

.maintitle-leftside-mp {
    text-align: center;
    font-size: 21px;
    padding-top: 15px;
    margin-bottom: 50px;
}

.partdivider {
    height: 500px;
    border-left: 3px dotted #84859c;
}

.counter-mp {
    width: 100%;
    padding: 15px 40px;
}

.ranger {
    appearance: none;
    width: 100%;
    border-radius: 15px;
    height: 12px;
    transform: rotate(180deg);
}

.ranger::-webkit-slider-runnable-track {
    width: 300px;
    height: 15px;
    background: #10edc5;
    border: none;
    border-radius: 8px;
}

.ranger::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 7px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-top: -2px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.toptitles-right,
.toptitles-left {
    font-size: 16px;
    font-weight: bold;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.bottomtitles-right,
.bottomtitles-left {
    font-size: 14px;
    font-weight: normal;
    color: #84859c;
}

.details-mp {
    background-color: #ffeca2;
    border: 1px solid #ffce0c;
    border-radius: 20px;
    margin: 5px 10px;
    padding: 15px;
}

.detailsecs-mpd {
    list-style: circle;
    font-size: 12px;
}

.detail-leftside-mp {
    padding: 15px 70px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: bold;
}

.left-det {
    text-align: left;
}

.last-det {
    font-size: 18px;
}

.left-last-det {
    margin-top: 10px;
}

.leftside-mp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c0e3c;
    padding: 15px;
    margin: 5px 100px;
    border-radius: 25px;
    color: #10edc5;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mobilesize-mp {
    width: 97%;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 30px;
    border-top: 4px solid #10edc5;
    flex-direction: column;

}

.rightside-mp-ms,
.leftside-mp-ms {
    width: 100%;
}

.maintite-rightside-mp-ms {
    font-size: 18px;
    font-weight: bold;
    padding-right: 27px;
}

.title-rightside-mp-ms {
    font-size: 14px;
    padding-right: 27px;
}

.partdivider-ms {
    width: 90%;
    border-top: 2px dotted black;
    margin: 10px 5%;
}

.Explaination {
    margin-top: 80px;
}

.title-of-explaination {
    margin-bottom: 30px;
    text-align: center;
}
.toEx-ms{
    font-size: 25px;
}
.container-of-body-Ex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}
.cofbEx-ms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    text-align: justify;
}
.traderimg {
    width: 380px;
    height: 250px;
    padding-left: 60px;
}
.traderimg-ms{
    width: 80%;
    height: 250px;
    padding-left: 0;
    margin-right: 20px;
    margin-top: 35px;
}
.ExEx {
    width: 60%;
    padding-right: 50px;
    font-size: 16px;
    font-weight: bold;
}
.ExEx-ms{
    width: 90%;
    font-weight: bold;
}
.startNow-Ex {
    width: 30%;
    margin-right: 70px;
    margin-top: 30px;
    background-color: #0c0e3c;
    color: #10edc5;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.startNow-Ex-ms{
    width: 80%;
    margin-right: 20px;
}