.main-title-mobile-size{
    background-color: #0c0e3c;
    padding: 10px 15px;
    padding-top: 55px;
}
.first-title-mobile-size{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}
.easy{
    color: #10edc5;
}
.second-title-mobile-size{
    padding: 10px 15px;
    padding-top: 40px;
}
.second-t-sec-mobile-size{
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
}
.start-funding{
    margin: auto;
    margin-top: 23px;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
    background-color: #10edc5;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: #10edc5 0px 22px 70px 4px;
}
.main-title{
    background-color: #0c0e3c;
    padding-top: 60px;
    padding-right: 14%;
    padding-bottom: 40px;
}
.first-title{
    color: #FFFFFF;
}
.second-title{
    padding-top: 40px;
}
.first-t-sec{
    font-size: 30px;
}
.second-t-sec{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
}
.start-funding-main-size{
    width: 27%;
    padding: 15px;
    border-radius: 35px;
    text-align: center;
    font-size: 19px;
    margin-top: 28px;
    font-weight: bold;
    background-color: #10edc5;
    box-shadow: #10edc5 0px 22px 70px 4px;
}